<table>
	<tr>
		<th>Everything DiSC (English)</th>
		<th>Number of credits</th>
	</tr>
	<tr>
		<td>Everything DiSC Workplace Profile</td>
		<td>15</td>
	</tr>
	<tr>
		<td>Everything DiSC Management Profile</td>
		<td>25</td>
	</tr>
	<tr>
		<td>Everything DiSC Sales Profile</td>
		<td>25</td>
	</tr>
	<tr>
		<td>Everything DiSC Work of Leaders</td>
		<td>25</td>
	</tr>			
	<tr>
		<td>Everything DiSC Work of Leaders Group Report</td>
		<td>25</td>
	</tr>	
	<tr>
		<td>Everything DiSC Work of Leaders Facilitator Report</td>
		<td>25</td>
	</tr>
	<tr>
		<td>Everything DiSC 363 for Leaders</td>
		<td>50</td>
	</tr>
	<tr>
		<td>Everything DiSC 363 for Leaders Facilitator Report</td>
		<td>25</td>
	</tr>
	<tr>
		<td>Everything DiSC Group Culture Report</td>
		<td>25</td>
	</tr>	
	<tr>
		<td>Everything DiSC Facilitator Report</td>
		<td>25</td>
	</tr>
	<tr>
		<td>Everything DiSC Comparison Report</td>
		<td>0</td>
	</tr>
	<tr>
		<td>Everything DiSC Team View</td>
		<td>0</td>
	</tr>
	<tr> 
		<td>&nbsp;</td>
		<td>&nbsp;</td>
	</tr>
</table>