<?xml version="1.0"?>
<!--
/**
* Magento
*
* NOTICE OF LICENSE
*
* This source file is subject to the Open Software License (OSL 3.0)
* that is bundled with this package in the file LICENSE.txt.
* It is also available through the world-wide-web at this URL:
* http://opensource.org/licenses/osl-3.0.php
* If you did not receive a copy of the license and are unable to
* obtain it through the world-wide-web, please send an email
* to license@magentocommerce.com so we can send you a copy immediately.
*
* @category    Yoma
* @package     Yoma_Realex
* @copyright   Copyright (c) 2014 YOMA LIMITED (http://www.yoma.co.uk)
* @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
*/
-->
<config>
    <modules>
        <Yoma_Realex>
            <version>1.1.1</version>
        </Yoma_Realex>
    </modules>
    <global>
        <models>
            <realex>
                <class>Yoma_Realex_Model</class>
                <resourceModel>realex_resource</resourceModel>
            </realex>
            <realex_resource>
                <class>Yoma_Realex_Model_Resource</class>
                <entities>
                    <transaction>
                        <table>realex_transaction</table>
                    </transaction>
                    <paymentInfo>
                        <table>realex_payment_info</table>
                    </paymentInfo>
                    <tokencard>
                        <table>realex_tokencard</table>
                    </tokencard>
                </entities>
            </realex_resource>
        </models>
        <resources>
            <realex_setup>
                <setup>
                    <module>Yoma_Realex</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </realex_setup>
            <realex_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </realex_write>
            <realex_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </realex_read>
        </resources>
        <helpers>
            <realex>
                <class>Yoma_Realex_Helper</class>
            </realex>
        </helpers>
        <blocks>
            <realex>
                <class>Yoma_Realex_Block</class>
            </realex>
            <checkout>
                <rewrite>
                    <onepage_success>Yoma_Realex_Block_Onepage_Success</onepage_success>
                </rewrite>
            </checkout>
        </blocks>
        <payment>
            <cc>
                <types>
                    <YOMA_DINERS_CLUB>
                        <code>YOMA_DINERS_CLUB</code>
                        <name>Diners Club</name>
                        <order>2009</order>
                    </YOMA_DINERS_CLUB>
                    <YOMA_MAESTRO>
                        <code>YOMA_MAESTRO</code>
                        <name>Maestro</name>
                        <order>2010</order>
                    </YOMA_MAESTRO>
                </types>
            </cc>
        </payment>
        <fieldsets>
            <sales_convert_quote_payment>
                <realex_token_cc_id>
                    <to_order_payment>*</to_order_payment>
                </realex_token_cc_id>
                <remembertoken>
                    <to_order_payment>*</to_order_payment>
                </remembertoken>
            </sales_convert_quote_payment>
        </fieldsets>
        <sales>
            <order_invoice>
                <totals>
                    <settle_positive>
                        <class>realex/total_invoice_settle</class>
                        <after>tax</after>
                    </settle_positive>
                </totals>
            </order_invoice>
            <order_creditmemo>
                <totals>
                    <rebate_positive>
                        <class>realex/total_creditmemo_rebate</class>
                        <after>tax</after>
                    </rebate_positive>
                </totals>
            </order_creditmemo>
        </sales>
        <events>
            <realex_register_token>
                <observers>
                    <realex>
                        <type>singleton</type>
                        <class>realex/observer_tokencard</class>
                        <method>saveCustomerCard</method>
                    </realex>
                </observers>
            </realex_register_token>
            <realex_delete_token>
                <observers>
                    <realex>
                        <type>singleton</type>
                        <class>realex/observer_tokencard</class>
                        <method>deleteCustomerCard</method>
                    </realex>
                </observers>
            </realex_delete_token>
            <realex_edit_payer>
                <observers>
                    <realex>
                        <type>singleton</type>
                        <class>realex/observer_tokencard</class>
                        <method>editPayer</method>
                    </realex>
                </observers>
            </realex_edit_payer>
            <realex_edit_token>
                <observers>
                    <realex>
                        <type>singleton</type>
                        <class>realex/observer_tokencard</class>
                        <method>editCustomerCard</method>
                    </realex>
                </observers>
            </realex_edit_token>
            <!--
            <sales_quote_payment_import_data_before>
                <observers>
                    <realex>
                        <type>singleton</type>
                        <class>realex/observer_tokencard</class>
                        <method>setPaymentMethod</method>
                    </realex>
                </observers>
            </sales_quote_payment_import_data_before>
            -->
            <sales_model_service_quote_submit_failure>
                <observers>
                    <realex>
                        <type>singleton</type>
                        <class>realex/observer</class>
                        <method>quoteSubmitFailure</method>
                    </realex>
                </observers>
            </sales_model_service_quote_submit_failure>
            <!--
            <payment_method_is_active>
                <observers>
                    <realex>
                        <type>singleton</type>
                        <class>realex/observer_tokencard</class>
                        <method>checkPaymentMethod</method>
                    </realex>
                </observers>
            </payment_method_is_active>

            <sales_order_payment_place_start>
                <observers>
                    <realex>
                        <type>singleton</type>
                        <class>realex/observer_tokencard</class>
                        <method>setPaymentMethod</method>
                    </realex>
                </observers>
            </sales_order_payment_place_start>
            -->
        </events>
    </global>
    <crontab>
        <jobs>            
            <realex_expiredcards>
                <!--<schedule><cron_expr>0 1 * * *</cron_expr></schedule>-->
                <schedule><cron_expr>0,15,30,45 * * * *</cron_expr></schedule>
                <run><model>realex/observer_tokencard::alertExpiredCards</model></run>
            </realex_expiredcards>
            <realex_ordercleanup>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>realex/observer_cron::orderCleanup</model>
                </run>
            </realex_ordercleanup>
        </jobs>
    </crontab>
    <frontend>

        <secure_url>
            <realex>/realex/</realex>
        </secure_url>
        <routers>
            <realex>
                <use>standard</use>
                <args>
                    <module>Yoma_Realex</module>
                    <frontName>realex</frontName>
                </args>
            </realex>
            <checkout>
                <args>
                    <modules>
                        <realex before="Mage_Checkout">Yoma_Realex_Checkout</realex>
                    </modules>
                </args>
            </checkout>
        </routers>
        <layout>
            <updates>
                <realex>
                    <file>realex/realex.xml</file>
                </realex>
            </updates>
        </layout>
        <translate>
            <modules>
                <Yoma_Realex>
                    <files>
                        <default>realex/Yoma_Realex.csv</default>
                    </files>
                </Yoma_Realex>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
            <realex>
                <use>admin</use>
                <args>
                    <module>Yoma_Realex</module>
                    <frontName>realexAdmin</frontName>
                </args>
            </realex>
        </routers>
    </admin>
    <adminhtml>
        <events>
            <payment_info_block_prepare_specific_information>
                <observers>
                    <realex_payment_information>
                        <type>singleton</type>
                        <class>realex/observer</class>
                        <method>appendPaymentBlock</method>
                    </realex_payment_information>
                </observers>
            </payment_info_block_prepare_specific_information>
            <customer_delete_before>
                <observers>
                    <realex>
                        <type>singleton</type>
                        <class>realex/observer_tokencard</class>
                        <method>deleteCustomerCards</method>
                    </realex>
                </observers>
            </customer_delete_before>
        </events>
        <events>
            <adminhtml_widget_container_html_before>
                <observers>
                    <realex>
                        <class>realex/observer</class>
                        <type>singleton</type>
                        <method>orderViewBefore</method>
                    </realex>
                </observers>
            </adminhtml_widget_container_html_before>
        </events>
        <layout>
            <updates>
                <realex>
                    <file>realex/realex.xml</file>
                </realex>
            </updates>
        </layout>
        <translate>
            <modules>
                <Yoma_Realex>
                    <files>
                        <default>realex/Yoma_Realex_Adminhtml.csv</default>
                    </files>
                </Yoma_Realex>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <payment>
            <realex>
                <logs>0</logs>
            </realex>
            <cleanup>
                <cleanup_active>1</cleanup_active>
                <cleanup_timeframe>24</cleanup_timeframe>
            </cleanup>
            <realexredirect>
                <active>0</active>
                <iframe>1</iframe>
                <iframe_display>1</iframe_display>
                <iframe_inline>0</iframe_inline>
                <debug>0</debug>
                <model>realex/redirect</model>
                <title>Pay by Credit or Debit Card</title>
                <allowspecific>0</allowspecific>
                <mode>test</mode>
                <payment_action>authorize_capture</payment_action>
                <order_status>processing</order_status>
                <!--<cctypes>AE,VI,MC</cctypes>-->
                <purchase_description>Purchase of products ECOMMERCE</purchase_description>
                <selected_description>
                    <![CDATA[Enter your credit card details after Order Review<br />]]></selected_description>
                <live_url>https://hpp.realexpayments.com/pay</live_url>
                <sandbox_url>https://hpp.sandbox.realexpayments.com/pay</sandbox_url>
                <sub_account>internet</sub_account>
            </realexredirect>
            <realexdirect>
                <active>0</active>
                <iframe>1</iframe>
                <iframe_display>1</iframe_display>
                <debug>0</debug>
                <model>realex/direct</model>
                <title>Pay by Credit or Debit Card</title>
                <allowspecific>0</allowspecific>
                <mode>test</mode>
                <payment_action>authorize_capture</payment_action>
                <order_status>processing</order_status>
                <!--<cctypes>AE,VI,MC</cctypes>-->
                <purchase_description>Purchase of products ECOMMERCE</purchase_description>
                <selected_description>
                    <![CDATA[Enter your credit card details after Order Review<br />]]></selected_description>
                <live_url>https://epage.payandshop.com/epage-remote.cgi</live_url>
                <threed_url>https://epage.payandshop.com/epage-3dsecure.cgi</threed_url>
                <require_liability_shift>1</require_liability_shift>
                <sub_account>internet</sub_account>
            </realexdirect>
            <realvault>
                <active>0</active>
                <model>realex/token</model>
                <iframe>1</iframe>
                <iframe_display>1</iframe_display>
                <title>Pay with a stored card</title>
                <payer_type>web</payer_type>
                <payment_action>authorize_capture</payment_action>
                <store_card>1</store_card>
                <store_label>Store your card for next time?</store_label>
                <auto_store_label>Your card details will be stored on our secure server.</auto_store_label>
                <allow_delete>1</allow_delete>
                <max_saved>3</max_saved>
                <mode>test</mode>
                <live_url>https://epage.payandshop.com/epage-remote.cgi</live_url>
                <threed_url>https://epage.payandshop.com/epage-3dsecure.cgi</threed_url>
                <require_liability_shift>1</require_liability_shift>
                <sub_account>api</sub_account>
                <require_cvv>1</require_cvv>
            </realvault>
        </payment>
    </default>
    <yoma_realex>
        <currency_decimals>
            <DEFAULT>2</DEFAULT>
            <ADP>0</ADP>
            <AFN>0</AFN>
            <ALL>0</ALL>
            <AMD>0</AMD>
            <BHD>3</BHD>
            <BIF>0</BIF>
            <BYR>0</BYR>
            <CLF>0</CLF>
            <CLP>0</CLP>
            <COP>0</COP>
            <CRC>0</CRC>
            <DJF>0</DJF>
            <ESP>0</ESP>
            <GNF>0</GNF>
            <GYD>0</GYD>
            <HUF>0</HUF>
            <IDR>0</IDR>
            <IQD>0</IQD>
            <IRR>0</IRR>
            <ISK>0</ISK>
            <ITL>0</ITL>
            <JOD>3</JOD>
            <JPY>0</JPY>
            <KMF>0</KMF>
            <KPW>0</KPW>
            <KRW>0</KRW>
            <KWD>3</KWD>
            <LAK>0</LAK>
            <LBP>0</LBP>
            <LUF>0</LUF>
            <LYD>3</LYD>
            <MGA>0</MGA>
            <MGF>0</MGF>
            <MMK>0</MMK>
            <MNT>0</MNT>
            <MRO>0</MRO>
            <MUR>0</MUR>
            <OMR>3</OMR>
            <PKR>0</PKR>
            <PYG>0</PYG>
            <RSD>0</RSD>
            <RWF>0</RWF>
            <SLL>0</SLL>
            <SOS>0</SOS>
            <STD>0</STD>
            <SYP>0</SYP>
            <TMM>0</TMM>
            <TND>3</TND>
            <TRL>0</TRL>
            <TZS>0</TZS>
            <UGX>0</UGX>
            <UZS>0</UZS>
            <VND>0</VND>
            <VUV>0</VUV>
            <XAF>0</XAF>
            <XOF>0</XOF>
            <XPF>0</XPF>
            <YER>0</YER>
            <ZMK>0</ZMK>
            <ZWD>0</ZWD>
        </currency_decimals>
        <mapping>
            <realexredirect>
                <out>
                    <authorize_capture>1</authorize_capture>
                    <authorize>0</authorize>
                </out>
            </realexredirect>
        </mapping>
        <!--
        <messages>
            <redirect>
                <refund>
                    <request timestamp="" type="">
                        <merchantid></merchantid>
                        <account></account>
                        <orderid></orderid>
                        <pasref></pasref>
                        <authcode></authcode>
                        <amount></amount>
                        <sha1hash></sha1hash>
                        <refundhash></refundhash>
                        <autosettle></autosettle>
                    </request>
                </refund>
                <void>
                    <request timestamp="" type="">
                        <merchantid></merchantid>
                        <account></account>
                        <orderid></orderid>
                        <pasref></pasref>
                        <authcode></authcode>
                        <amount></amount>
                        <sha1hash></sha1hash>
                        <autosettle></autosettle>
                    </request>
                </void>
            </redirect>
            <direct>
                <capture>
                    <request timestamp="" type="">
                        <merchantid></merchantid>
                        <account></account>
                        <orderid></orderid>
                        <amount currency=""></amount>
                        <sha1hash></sha1hash>
                        <card>
                            <number></number>
                            <expdate></expdate>
                            <chname></chname>
                            <type></type>
                            <issueno></issueno>
                            <cvn>
                                <number></number>
                                <presind></presind>
                            </cvn>
                        </card>
                        <tssinfo>
                            <custnum></custnum>
                            <prodid></prodid>
                            <varref></varref>
                            <custipaddress></custipaddress>
                            <address type="billing">
                                <code></code>
                                <country></country>
                            </address>
                            <address type="shipping">
                                <code></code>
                                <country></country>
                            </address>
                        </tssinfo>
                        <autosettle flag=""></autosettle>
                    </request>
                </capture>
                <threedSecure>
                    <request timestamp="" type="">
                        <merchantid></merchantid>
                        <account></account>
                        <orderid></orderid>
                        <amount currency=""></amount>
                        <sha1hash></sha1hash>
                        <card>
                            <number></number>
                            <expdate></expdate>
                            <chname></chname>
                            <type></type>
                            <issueno></issueno>

                        </card>

                        <autosettle flag=""></autosettle>
                    </request>
                </threedSecure>
            </direct>
        </messages>
        -->
        <!--
        <urls>
            <redirect>
                <refund>
                    <out>https://epage.payandshop.com/epage-remote.cgi</out>
                </refund>
                <void>
                    <out>https://epage.payandshop.com/epage-remote.cgi</out>
                </void>
                <capture>
                    <out>https://hpp.sandbox.realexpayments.com/pay</out>
                </capture>
            </redirect>
            <direct>
                <capture>
                    <out>https://epage.payandshop.com/epage-remote.cgi</out>
                </capture>
                <threedSecure>
                    <out>https://epage.payandshop.com/epage-remote.cgi</out>
                </threedSecure>
            </direct>
        </urls>
        -->
        <!--
        <iframe>
            <default>460x600</default>
            <thredsecure>490x600</thredsecure>
            <realvault>563x600</realvault>
            <dcc>698x600</dcc>
        </iframe>
        -->
    </yoma_realex>
</config>