$disc-blue: #003054;
$search-yellow: #ffb81c;
$lighter-button-blue: #2854be;
$dropdown-turquoise: #00c389;

// front page backgrounds
$everything-certification: #e0004d;
	$everything-exclamation: #f5bb00;
$benefits-of-using-disc: #00c389;
$do-you-have-a-question: #e9eef8;
$disc-training: #2854be;
$epic-credits-bg: #2148a3;
$footer-colour: #112f5a;
$slideshow-background: #ed7500;

	// Disc Definition Colours
	$dominance: #52c183;
	$influence: #e0004d;
	$steadiness: #ffb81c;
	$conscientiousness: #003057;

// News page 
$news-header: #0057b8;
$news-date: #9aa0a4;
$news-page-background: #c4d8ef;

// Disc page
$disc-menu-background: #e9effb;

// About us
$about-grey: #4b4e50;