#control_overlay {
    background-color: #000;
}

.modal {
    padding: 10px;
    background-color: #fff !important;
    border: 1px solid #333 !important;
}

.window .window_close {
    position: absolute;
    top: 4px;
    left: 5px;
    display: block;
    width: 13px;
    height: 13px;
    background-image: url("/stylesheets/window_close.gif");
    cursor: pointer;
    cursor: hand;
}

.tokencvv {
    clear: both;
    display: inline;
    width: 43px;
    padding-top: 10px;
}

.tokencvv label {
    float: none;
    margin-right: 8px;
}

.tokencvv input.cvv {
    float: none;
    width: 3em !important;
    vertical-align: middle;
    margin-right: 5px;
}

#payment_form_realexdirect label.token,
#payment_form_realexredirect label.token {
    float: none;
    margin-left: 7px;
}

.token-icon {
    position: relative;
    top: -1px;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 41px;
    height: 25px;
    overflow: hidden;
    vertical-align: middle;
    margin-left: 10px;
    text-indent: -99em;
    background: transparent url('../images/icons.png') no-repeat;
}
.token-icon-vi { background-position: 0 0; }
.token-icon-ae { background-position: -41px 0; }
.token-icon-mc { background-position: -82px 0; }
.token-icon-yoma_diners_club { background-position: -123px 0; }
.token-icon-yoma_maestro { background-position: -164px 0; }

iframe#iframeId{
    width: 100%;
    background: none;
    border: 0;
}

@media screen and (min-device-width : 320px) and (max-device-width : 480px) { 
    
    .modal{
        width: 90% !important;
        position: fixed !important;
        height: 100% !important;
        top: 0 !important;
    }
 
}

@media screen and (device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2){
    
    .modal{
        height: auto !important;
    }

    .modal select:focus,
    .modal textarea:focus,
    .modal input:focus {
        font-size: 16px;
        background: #eee;
    }

}
