<?xml version="1.0"?>
<config>
	<modules>
		<Plumrocket_AutoInvoice>
			<version>1.0.2</version>
		</Plumrocket_AutoInvoice>
	</modules>
	<global>
		<helpers>
			<autoinvoice>
				<class>Plumrocket_AutoInvoice_Helper</class>
			</autoinvoice>
		</helpers>
		<blocks>
			<autoinvoice>
				<class>Plumrocket_AutoInvoice_Block</class>
			</autoinvoice>
		</blocks>
		<models>
			<autoinvoice>
			<class>Plumrocket_AutoInvoice_Model</class>
			<resourceModel>autoinvoice_mysql4</resourceModel>
			</autoinvoice>
		</models>
		<events>
			<sales_order_save_commit_after> 
				<observers>
					<sales_order_save_commit_after_handler> 
						<type>model</type>
						<class>autoinvoice/observer</class>
						<method>salesOrderSaveCommitAfter</method> 
						<args></args> 
					</sales_order_save_commit_after_handler>
				</observers>
			</sales_order_save_commit_after>
		</events>
	</global>
</config> 
